
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <style>
        .opinion{
          width: 50px;
          height: 20px;
        }

        .middle{
          text-align: center;
        }
        </style>
        <script>
        function count(){
            document.querySelector('#review').innerHTML= "AUTHOR: ";
        }
        </script>

    </head>
    <body>
      <div class="middle">
          <h1>Bookworm World</h1>
          <h2>A Place for All Book Lovers</h2>
        <hr>
      </div>
        <div class="container">
            {% block body %}

            {% endblock %}
        </div>
    </body>
</html>
